.books-wrapper {
  padding: 70px 20px;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .book-item {
      width: calc(25% - 70px);
      height: 600px; 
      padding: 20px;
      margin-bottom: 50px;
      box-sizing: border-box;
      background-color: #34495e;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      color: white;

      &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
      }

      .book-cover {
        max-width: 100%;
        height: 70%; 
        border-radius: 10px 10px 0 0;
        margin-bottom: 20px;
      }

      .no-image {
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
        color: white;
        background-color: #2c3e50;
        border-radius: 10px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .book-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
      }
    }
  }

  @media (max-width: 480px) {
    ul {
      flex-direction: column;

      .book-item {
        width: calc(100% - 50px);
        height: auto; 
      }
    }
  }
}

